#mainDiv {
    position: absolute;
    margin: 50px;
}
.itemGrid {
    border: 3px var(--grey) solid;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 20px;
    background-color: white;
}